/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AFTER RESET CODE */
.App {
  position: relative;
  font-family: sans-serif;
}
.blocked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.top-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em;
}
.top-columns {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px dashed #989898;
  
}
.mainBoard  {

  display: flex;
}

.first {
  background-color: #fff;
}

.row {
  background-color: #006eff;
  border: 1px solid #002e6b;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  margin: .5em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  background-color: yellow;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.start-column {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-row {
  margin: .5em;
  width: 50px;
  height: 50px;
  border: 1px dashed #999999;
  border-radius: 50%;
}

.fill1 {
  background-color: yellow;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) inset; 
}

.fill2 {
  background-color: red;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) inset; 
}

.fillNone {
  background-color: none;
}
h1 {
  font-size: 2em;
  padding: 1em 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

}
.showPos {
  background-color: gray !important;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}